/*
 *= require_tree .
 *= require_reset
 */

body {
  font-family: helvetica;
}

.container {
  width: 900px;
  margin: auto;
  margin-top:30px;
  padding: 30px;
  background: white;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 20px;
}


header {
  font-weight: bold;
  font size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  padding-bottom:20px;
}

.button {
  padding:20px;
  background: #ccc;
  float:left;
  margin-right:20px;
  display: block;
}

.button:hover {
  background: red;
}
