/*
 *= require_tree .
 *= require_reset
 */

/*colors: 
green — #d0c25b
red/brown - #ba5d33
blue - #78b9ab
orange - #f08e47

fonts: "proxima-nova";
"rooney-web"
*/


body {
  font-family: "proxima-nova";
}

.container {
  width: 900px;
  margin: auto;
  margin-top:30px;
  padding: 30px;
  background: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -3px;
  margin-bottom: 40px;
  color: #f08e47;
}


header {
  font size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
  border-bottom: 1px solid #78b9ab;
  padding-bottom:20px;
  color: #ccc;
  font-weight: bold;
}

header a {
  color: #d0c25b;
}

.button {
  padding:20px;
  background: #f08e47;
  float:left;
  margin-right:20px;
  display: block;
}

.button:hover {
  background: #78b9ab;
}

.clear {
  clear:both;
}

#names {
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .6;
}

.button a {
  color:white;
}

.control {
  border-bottom: 1px solid #f08e47 ;
}








