<h1>Restaurants</h1>

<div class="button">
  <%= link_to 'Add A Restaurant', new_restaurant_path %>
</div>

<div class ="clear"></div>

<ul>
<% @restaurants.each do |restaurant| %>
	<li>
		<p><%= link_to restaurant.name, restaurant %></p>
	</li>

<% end %>
</ul>