<h1>Welcome to the Foodie App</h1>

  <div class="button">
    <%= link_to "View the Foodie Restaurants", restaurants_path %><br>
  </div> 

  <div class="button">
    <%= link_to "View the Foodie Restaurant Dishes", dishes_path %><br>
  </div>