<div id="main">

  <h1 id="intro">Welcome to the Foodie App</h1>

  <div class="button">
    <%= link_to "View the Foodie Restaurants", restaurants_path %><br>
  </div> 

  <div class="button">
    <%= link_to "View the Foodie Restaurant Dishes", dishes_path %><br>
  </div>

  <div class = "clear"></div>

  <div id = "names">
    <h2 id="create">Created by: </h2>

    <h4 id="show1">Jasmine</h4>
    <h4 id="show2">Adrian</h4>
    <h4 id="show3">Larry</h4>
    <h4 id="show4">Derrick</h4>
  </div>

</div>
