<div id="main">

<div id="intro">
  <h1>Welcome to the Foodie App</h1>
</div>

<div id="controls">
  <div class="button">
    <%= link_to "View the Foodie Restaurants", restaurants_path %><br>
  </div> 

  <div class="button">
    <%= link_to "View the Foodie Restaurant Dishes", dishes_path %><br>
  </div>
</div><!-- end controls -->

  <div class = "clear"></div>

  <div id = "names">
    <h2 id="create" class="heroes">Created by: </h2>

    <h4 id="show1" class="heroes">Jasmine</h4>
    <h4 id="show2" class="heroes">Adrian</h4>
    <h4 id="show3" class="heroes">Larry</h4>
    <h4 id="show4" class="heroes">Derrick</h4>
  </div>

</div>
