<div id="main">

  <div class="button">
    <%= link_to "View the Foodie Restaurants", restaurants_path %><br>
  </div> 

  <div class="button">
    <%= link_to "View the Foodie Restaurant Dishes", dishes_path %><br>
  </div>

<h1 id="intro">Welcome to the Foodie App</h1>

<h2 id="create">Created by: </h2>

  <h4 id="show1">Jasmine</h4>
  <h4 id="show2">Adrian</h4>
  <h4 id="show3">Larry</h4>
  <h4 id="show4">Derrick</h4>

  <div id="links">
    <%= link_to "View the Foodie Restaurants >>", restaurants_path %><br>
    <%= link_to "View the Foodie Restaurant Dishes >>", dishes_path %><br>
  </div>
</div>
